
 h1 {text-align: center;
    color:yellow;
}
 p {text-align: center;
    color:yellow;
}
 ul {text-align: center;
    color:yellow;
    list-style-type: none;

}

 img {text-align: center;}
 
IMG.displayed {
 display: block;
 margin-left: auto;
 margin-right: auto }
 